body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}

/* colored text & login and logout messages */
.message, .nav > li > a.nav-message, .nav > li > a.nav-message:hover {
    color: #FF0
}

/* footer */
.footer {
    text-align: center;
}

/* navigation bar */
.menu-bar {
    margin-bottom: 0;
}

/* content */
.content {
    padding-top: 20px;
    padding-bottom: 80px;
}

/* submit page */

.submit {
    margin-left: 40px;
    margin-top: 20px;
}

.errorlist > li{
    color: red;
}

#uploadForm, #inputForm {
    margin-top: 20px;
}

/* graf */

#placeholder {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px
}

#radio {
    text-align: center;
}

#radio > input {
    margin-bottom: 0.5em;
}

#radio > a {
    display: inline;
    margin: 0 10px 0 3px;
    text-decoration: none;
    color: inherit;
}

.tooltip-inner {
    font-size: 14px;
}

.ng-invalid {
    border: 1px solid red;
}

/* datatable */

th{
  -webkit-box-shadow: 0 5px 10px #777 inset;
  -moz-box-shadow: 0 5px 10px #777 inset;
  box-shadow: 0 5px 10px #777 inset;
}

th:hover{
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: red;
}

.ui-helper-hidden {
    display: none;
}

/*.even {
    background-color: #151515;
}*/

.sorting_1{
    background-color: #151515;
}

.dataTables_length {
    width: 40%;
    float: right;
}

.paging_full_numbers {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    * cursor: hand;
    color:  #FFF;
    	width: 400px;
	height: 22px;
}

.paging_full_numbers a:hover {
	text-decoration: underline;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    * cursor: hand;
    color:  #FFF;
}

.paging_full_numbers a.paginate_button:hover {
	text-decoration: underline;
}

.paging_full_numbers a.paginate_active {
	background-color: #151515;
}





