body {
    margin: 0;
    padding: 0;
    background: rgb(100, 100, 100);
    color: yellow;
}

#footer {
    text-align: center;
}

hr {
    margin: 0 auto;
}

.nav > li > a.nav-message {
    color: inherit;
}

.nav > li > a.nav-message:hover {
    color: inherit;
}



