body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}

/* login and logout messages */
.nav > li > a.nav-message, .nav > li > a.nav-message:hover {
    color: #FF0
}

/* footer */
.footer {
    text-align: center;
}

/* navigation bar */
.menu-bar {
    margin-bottom: 0;
}

/* content */
.content {
    padding-top: 20px;
    padding-bottom: 50px;
}

#placeholder {
    margin-left: auto;
    margin-right: auto;
}




