<div class="navbar navbar-inverse menu-bar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="/"><i class="icon-cog icon-white"></i>&nbsp;Pgbench</a></li>
                <li><a href="/submit"><i class="icon-plus icon-white"></i>&nbsp;Submit measurement</a></li>
                <li><a href="/search"><i class="icon-search icon-white"></i>&nbsp;Search</a></li>
                <li><a href="/analyze"><i class="icon-th-list icon-white"></i>&nbsp;Analyze</a></li>
            </ul>
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li><a class="nav-message">Hello, {{ user.username | capfirst }}.</a></li>
                    <li><a href="/logout"><i class="icon-off icon-white"></i>&nbsp;Logout</a></li>
                    {% if user.is_superuser %}
                        <li><a href="/admin">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="nav-message">Please register or login.</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>