{% extends "master.html" %}
{% load static %}

{% block html_attributes %}ng-app="pgbench"{% endblock %}
{% block body_attributes %}ng-controller="pgbenchCtrl"{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/analyze.js' %}"></script>
{% endblock %}

{% block title %}Analyze{% endblock %}

{% block content %}

    {% if not user.is_authenticated %}
        You have to login first.
    {% else %}

    <div id="graph">
        <div id="placeholder"></div>
        <br>
        <div id="radio">

        </div>
    </div>

    <br>

       <table class="table" my-table="overrideOptions"
            aa-data="measures.objects"
            ao-column-defs="columnDefs"
            fn-row-callback="myCallback"
            >
            <thead>
            <tr>
            <th>Id</th>
            <th>Title</th>
            <th>User</th>
            <th>Date</th>
            <th>Transaction type</th>
            <th>Scaling factor</th>
            <th>Threads</th>
            <th>Clients</th>
            <th>Transactions per client</th>
            <th>Transactions</th>
            <th>TPS</th>
            <th>TPS (including establishing connections)</th>
            <th>Special fields</th>

            </tr>
            </thead>
        </table>
   {% endif %}
    <br/><br/>


{% endblock %}
