{% load staticfiles %}<!DOCTYPE html>
<html lang="en" {% block html_attributes %}{% endblock %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> {% block title %}{% endblock %} </title>

    {% load static %}
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}">
    {% block css %}{% endblock %}

    <!-- javascript -->
    <script src="{% static 'lib/jquery.js' %}"></script>
    <script src="{% static 'lib/angular.js' %}"></script>
    <script src="{% static 'lib/angular_resource.js' %}"></script>
    <script src="{% static 'javascript/services.js' %}"></script>
    <script src="{% static 'javascript/controllers.js' %}"></script>
    <script src="{% static 'javascript/app.js' %}"></script>
    <script src="{% static 'javascript/jquery.dataTables.js' %}"></script>
    <script src="{% static 'javascript/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static "javascript/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/main.js" %}"></script>
    {% block javascript %}{% endblock %}

</head>

<body {% block body_attributes %}{% endblock %}>
{% include "components/nav.html" %}

<div class="container content">
    {% block content %}{% endblock %}
</div>

{% include "components/footer.html" %}


</body>

</html>