<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> {% block title %}{% endblock %} </title>

    {% load static %}
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}">
    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="javascript/html5shiv.js"></script>
    <![endif]-->

</head>

<body>
    <header id="header">
        {% include "components/header.html" %}
        <hr>
    </header>

    <nav>
        <ul id="nav">
            <li><a href="/./"><span>Pgbench</span></a></li>
            <li><a href="/submit/">Submit measurement</a></li>
            <li><a href="/search/">Search</a></li>
            <li><a href="~contact">Contact</a></li>
        </ul>
    </nav>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        <hr>
        {% include "components/footer.html" %}
    </footer>

    <!-- javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "javascript/main.js" %}"></script>
    {% block javascript %}

    {% endblock %}

</body>
</html>